/* Extra extra large devices (larger desktops, 1400px and up) */
@media (max-width: 1399.98px) {
    /* CSS rules for extra extra large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
    /* CSS rules for extra large devices */
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
    /* CSS rules for large devices */
}

/* Medium devices (tablets, 576px and up) */
@media (max-width: 767.98px) {
    /* CSS rules for medium devices */
    .testimonial__item--high {
        margin-top: 25px;
        width: 100%;
    }
    .testimonial_grid,
    .testimonial_grid--reverse {
        grid-template-columns: 1fr;
        gap: 25px;
    }
    .testimonial__item_svg {
        right: 22px;
    }
}

/* Small devices (phones, 0px and up) */
@media (max-width: 575.98px) {
    /* CSS rules for small devices */
}
